*{
  /* margin: .4rem; */
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  /* width: 30vw; */
  align-items: center;
  margin-top: 80px;
 
}

input {
  background-color: white !important;
}